<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-uikit-uiactivityviewcontroller-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCBEF4791E5D1870007D8788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCBEF48D1E5D1870007D8788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCBEF4981E5D1870007D8788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
